/* foler.module.css */
.folderCard {
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
  cursor: pointer;
  /* color: var(--theme-text); */
  background-color: var(--theme-accent-subtle);
  padding: 4px 10px;
  margin: 3px 0px;
  border-radius: 6px;
  border: solid 1px #63636355;
  /* border-bottom: 3px solid rgba(155, 155, 155, 0.448); */
}

.folderCard:hover {
  /* padding: 4px 10px; */
  /* margin: 3px 0px; */
  border: 1px solid var(--theme-accent-contrast);
  /* outline: 1px solid; */
}

.folderCard.activeFolder {
  pointer-events: all;
  opacity: 1;
  background-color: var(--theme-primary);
  border: 1px solid lightslategray;
}

.folderCardItems {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 0px; */
  margin-left: 5px;
  overflow: hidden;
}

/* .expandIcon {
  display: flex;
} */

.folderCardItems h6 {
  /* Remains as is, targets h6 within .folderCardItems */
  margin: 0px 5px;
  /* word-wrap: break-word; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12.5px;
  /* line-height centers the text vertically */
  line-height: 1.3;
}

.folderIcon {
  /* Renamed from .folder-icon */
  /* color: burlywood; */
  margin-right: 5px;
}

/* .expand-icon {
  padding: 2px 4px;
  border: 1px solid lightslategray;
  border-radius: 10px;
} */

/* .folder-card.depth-0 { padding-left: 0; }
.folder-card.depth-1 { padding-left: 20px; }
.folder-card.depth-2 { padding-left: 40px; }
.folder-card.depth-3 { padding-left: 60px; } */
