.folder-tree-container {
  padding: 15px;
  width: 14rem;
  /* background-color: #ddd; */
}

.folder-list {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-open .folder-card {
  pointer-events: none;
  opacity: 0.8;
}

.add-folder {
  display: flex;
  gap: 10px;
  /* padding: 10px; */
}
