.folder-card {
  display: flex;
  width:auto;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--color-text);
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: fit-content;
}

.folder-card h3 {
  margin: 0;
  /* margin-right: 6px; */
}