.folder-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.folder-card {
  display: flex;
  width: auto;
  align-items: center;
  cursor: pointer;
  color: darkslategray;
  background-color: floralwhite;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.folder-icon {
  color: burlywood;
}

.folder-card h4 {
  margin: 0;
  margin-left: 6px;
}

.folder-card:hover {
  background-color: beige;
  background-color: cornsilk;
}