/* Header.css */

.header {
  /* font-family: consolas; */
  background-color:rgb(195, 221, 146);
  /* color: white; */
  padding: 0px 20px;
  border-bottom: solid var(--color-accent) 0.1rem;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
