/* Container for the whole page */
.container {
  margin: 50px;
}

.plus-button {
  display: flex;
  align-items: center;
  background-color: #74b576;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

/* button svg {
  margin-right: 8px;
} */