.note-container {
  font-family: Times;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
}

.note-title {
  color: #333;
}

.note-content {
  color: #666;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.note-actions {
  display: flex;
  gap: 10px;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #982424;
  font-size: 1.2em;
  transition: color 0.3s;
}

.note-actions button:hover {
  color: #711010;
}
