.site-header {
  background-color: var(--theme-primary);
  padding: 0.5rem 0.75rem;
  border-bottom: solid var(--theme-accent-contrast) 0.5px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 2rem;
}

.nav-list,
.util-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
  /* linje height centers the text vertically */
  /* line-height: 1.1; */
}

.nav-list {
  font-size: 13.5px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  text-decoration: none;
}
.nav-list .icon-wrapper {
  font-size: 13px;
}
.util-list .icon-wrapper {
  font-size: 12px;
}

.logo {
  height: 30px;
  border-radius: 25%;
  opacity: 0.8;
}

.util-list {
  justify-self: end;

}

.default-theme-icon {
  color: var(--theme-accent-contrast);
}

.alt-theme-icon {
  color: var(--theme-accent-subtle);
}
